.button {
    -fx-background-color: #577bdf; /* Verde */
    -fx-text-fill: white;           /* Cor do texto */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 20;     /* Deixa arredondado */
    -fx-padding: 10 20 10 20;      /* Espaçamento interno */
    -fx-cursor: hand;               /* Muda cursor ao passar em cima */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #a9c8e6; /* Cor quando hover */
}
